/* Change the background color of the sidebar */
.sidebar .sidebar-content {
    background-color: #228A6C;
}

/* Change the color of the sidebar text */
.sidebar .sidebar-content .stMarkdown {
    color: #228A6C;
}

/* Change the color of the sidebar header text */
.sidebar .sidebar-content .stSidebar .stSidebarHeader {
    color: #228A6C;
}
